# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environnements virtuels
venv/
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Système d'exploitation
.DS_Store
Thumbs.db
